@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer components {
  .heroButton{
      @apply px-0.5 md:px-4 py-2 border border-[#242424] rounded-full uppercase text-xs tracking-widest text-gray-500 transition-all hover:border-[#FFE55C]/40 hover:text-[#FFE55C]/40 xl:mx-2
  }
  .container {
    position: absolute;
    width: 24px;
    height: 3px;
  }
  @media screen and (max-width: 600px){
  .hidden-class{
   
      display:none;
    
  }
}
  
  
  @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(35px);
    }
    
  }
  
  .text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: move 3s ease-out 2s infinite;
  }

 
  .contactInput{
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6  py-4 border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:border-[#f7AB0A]/40 focus:text-[#f7AB0A]/40 hover:border-[#f7ABBA]/40
  }

  
    
}

/* Change Swiper Navigation Arrows */
.swiper-button-next,
.swiper-button-prev {
  color: #FFE55C !important; /* Change this to your theme color */
}

/* Change Swiper Pagination Dots */
.swiper-pagination-bullet {
  background: #FFE55C !important; /* Change to theme color */
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background: #FFD700 !important; /* Change active dot color */
  opacity: 1;
}

/* Change Swiper Scrollbar */
.swiper-scrollbar-drag {
  background: #FFE55C !important; /* Change scrollbar color */
}