@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer components {
  .heroButton{
      @apply px-0.5 md:px-4 py-2 border border-[#242424] rounded-full uppercase text-xs tracking-widest text-gray-500 transition-all hover:border-[#FFE55C]/40 hover:text-[#FFE55C]/40 xl:mx-2
  }
  .container {
    position: absolute;
    width: 24px;
    height: 3px;
  }
  @media screen and (max-width: 600px){
  .hidden-class{
   
      display:none;
    
  }
}
  
  
  @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(35px);
    }
    
  }
  
  .text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: move 3s ease-out 2s infinite;
  }

 
  
    
}